name: Release

on: [release]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Deploy to deno.land/x
      run: echo "Reno is deployed to deno.land/x via a webhook"

    - name: Install supported Deno version
      run: |
        curl -fsSL https://deno.land/x/install/install.sh | sh -s v$(cat .deno_version)

    - name: Deploy to nest.land
      run: |
        $HOME/.deno/bin/deno install -A --unstable https://x.nest.land/eggs@0.3.6/eggs.ts
        eggs link ${{ secrets.NEST_API_KEY }}
        eggs publish --yes --no-check --version $(git describe --tags $(git rev-list --tags --max-count=1))
